<div ng-controller="CRoomCtrl">
    <div class="row">
        <!-- <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Waiting Room Queue <span class="sr-only">(current)</span></a>
                </li>
                <li><a href="#">Patient A</a>
                </li>
                <li><a href="#">Patient B</a>
                </li>
                <li><a href="#">Patient C</a>
                </li>
            </ul>
            
        </div> -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Consultation Room of {{appt.providerName}}</h1>
            <p>
                
                <h3>Confirmed Appointment at {{appt.apptWF.confirmedTS | date:'MMM d, y h:mm:ss a'}}</h3>
                <br/>
                <small>Payment</small> <strong>{{appt.paymentWF.paymentStatus | cwfFilter:'payment'}}</strong>
                <br/>
                Doctor is <span class="label label-success">{{doctorOnlineStatus}}</span> <i class="fa fa-refresh" ng-click="checkDoctorStatus()"></i>, will call you soon. Please wait here and do not go to other page.
            </p>
            <div class="row placeholders">
                
                <!-- <div class="pane" id="pane_1">
                    <input type="button" value="Call {{appt.providerName}} " id="call" class="btn btn-info btn-default btn-block">
                </div>
                <div class="pane" id="pane_2">
                    <div id="video_container"></div>
                    <input type="button" value="Stop Call" id="quit" class="btn btn-danger btn-default btn-block">
                </div> -->
                <div class="panel panel-default">

                  <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6" id="remote_video_container">
                            <img my-holder="holder.js/640x480/auto/black" class="img-responsive center-block" alt="Generic placeholder thumbnail" id="remote_video_holder"/>
                        </div>
                        <div class="col-sm-6" id="local_video_container">
                            <img my-holder="holder.js/320x240/auto/black" class="img-responsive" alt="Generic placeholder thumbnail" id="local_video_holder"/>
                        </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <button class="btn btn-primary" ng-click="checkDoctorStatus()">Check Doctor's Status</button>
                    <button class="btn btn-danger" ng-click="stopCall()">Disconnect Call</button>
                  </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="https://api.bistri.com/bistri.conference.min.js"></script>
</div>