<div class="row">
    <h2 class="header">Consultation Reference # {{appt._id}}</h3>
    <div class="col-md-6">
        <h3 class="sub-header">Patient Information</h3>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img my-holder="holder.js/80x80/auto/sky" class="media-object" alt="Patient">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{appt.patientDetailsWF.patientName}}</h4>
                <span class="text-muted">{{appt.patientDetailsWF.patientSex}}, {{appt.patientDetailsWF.patientAge}}</span>
            </div>
        </div>
        <p></p>
        <div class="row">
            <li class="list-group-item" ng-if="appt.patientDetailsWF.patientDocuments"><strong>Patient Reports, Documents, etc.</strong></li>
            <ol class="list-group">
                <li class="list-group-item" ng-repeat="aDocument in appt.patientDetailsWF.patientDocuments">
                    <a target="_blank" href="/s/consult/cwf/{{appt._id}}/document/{{aDocument.fileBlobKey}}"><span>{{aDocument.fileName}}</span></a>
                </li>
            </ol>
        </div>
        <div class="row" ng-repeat="aQuestionIndex in qLoopHelper">
            <p class="bg-info"><strong>{{qbank(appt.patientDetailsWF.questionId[aQuestionIndex])}}</strong></p>
            <p class="text-muted">{{appt.patientDetailsWF.answerText[aQuestionIndex]}}</p>
            <br/>
            <br/>
            <br/>
        </div>
        <!-- <div class="panel panel-default" ng-repeat="aQuestionIndex in qLoopHelper">
              <div class="panel-heading">
                <h3 class="panel-title">{{qbank(appt.patientDetailsWF.questionId[aQuestionIndex])}}</h3>
              </div>
              <div class="panel-body">
                {{appt.patientDetailsWF.answerText[aQuestionIndex]}}
              </div>
            </div> -->
    </div>
    <div class="col-md-6">
        <h3 class="sub-header">Appointment</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">at {{appt.apptWF.confirmedTS | date:'MMM d, y h:mm:ss a'}}</h3>
                <small>Status</small> <strong>{{appt.apptWF.apptStatus | cwfFilter:'appt'}}</strong>
                <br/>
                <small>Payment</small> <strong>{{appt.paymentWF.paymentStatus | cwfFilter:'payment'}}</strong>
            </div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="...">
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" ng-show="appt | cwfStateTransitionAllowed : 'apptConfirmByProvider' ">Confirm</button>
                        
                        <button type="button" class="btn btn-danger" ng-show="appt | cwfStateTransitionAllowed : 'apptRescheduleByProvider' " data-animation="am-fade-and-slide-top" data-template="reschedule3.html" data-title="Suggest Reschedule to another time" data-content="{'title':'blah blah'}" bs-modal="appt">Reschedule2</button>

                    </div>
                    <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" ng-click="cancelAppt(appt)" ng-show="appt | cwfStateTransitionAllowed : 'apptCancelByProvider' ">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Meeting</h3>
            </div>
            <div class="panel-body">
                
                <p>Consultation Mode Preference <strong>{{appt.meetingWF.meetingType}}</strong></p>
                <p>Patient Contact No <strong>{{appt.patientDetailsWF.patientPhone}}</strong></p>
                <!-- <div class="form-group">
                    <label for="consultationMode">Consultation Preference</label>
                    <span id="consultationMode"><strong>{{appt.meetingWF.meetingType}}</strong></span>
                </div> -->
                <!-- <div class="form-group">
                    <label for="consultationMode">Patient Contact No</label>
                    <span id="consultationMode"><strong>{{appt.patientDetailsWF.patientPhone}}</strong></span>
                </div> -->
                <br/>
                <p><small>Status</small> <strong>{{appt.meetingWF.meetingStatus | cwfFilter:'meeting'}}</strong> </p>

                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="cancelAppt(appt)" ng-show="appt | cwfStateTransitionAllowed : 'cwfGoToMeetingRoomByProvider' ">Go to Consultation Room</button>

                    <button type="button" class="btn btn-primary btn-xs" ng-click="markMeetingAsComplete(appt)" ng-show="appt | cwfStateTransitionAllowed : 'cwfDoneByProvider' ">Mark meeting as complete</button>
                    <!-- <a ng-click="gotoCRoom(appt)" ng-show="appt | cwfStateTransitionAllowed : 'cwfGoToMeetingRoomByProvider' ">Go to Consultation Room</a> -->
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Prescription/Notes<small></h3>
            </div>
            <div class="panel-body">
                
                <form action="{{uploadURL}}" enctype="multipart/form-data" method="post">
                    Upload New Prescription or Note: <br>
                   
                   <!-- <input type="submit" value="Send"> -->
                   <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <input type="file" ng-click="generateUploadURL()" name="uploaded_files" size="40">
                        <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                </form>
                
                <ul class="list-group">
                    <li class="list-group-item" ng-if=" ! appt.fullfillmentWF">Upload the prescription or note after the online consultation is over. It will be visible to patient immediately.</li>
                    <li class="list-group-item" ng-if="appt.fullfillmentWF"><a href="/s/consult/cwf/{{appt._id}}/prescription/{{appt.fullfillmentWF.prescription_ref}}">Download Prescription</a></li>
                </ul>
            </div>
        </div>
        <div>
            <h3>Feedback</h3>
            <span>No feedback yet. (Patient may provide a feedback few days after the consultation.)</span>
        </div>
    </div>
</div>