<div class="row">
    <h2 class="header">Older Appointments</h3>
    <div class="container">
        <!-- <h3 class="sub-header">Waiting Room Queue</h3> -->
        <!-- <div class="placeholder" ng-repeat="appt in apptList">
                <img my-holder="holder.js/100x100/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>{{appt.apptWF.confirmedTS | date:'MMM d, y h:mm:ss a'}}</h4>
                <span class="text-muted">{{appt.patientDetailsWF.patientName}}, {{appt.patientDetailsWF.patientSex}}, {{appt.patientDetailsWF.patientAge}}</span>
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-success">Details</button>
                    <button type="button" class="btn btn-primary" ng-click="gotoCRoom(appt)">Room</button>
                </div>
            </div> -->
        <div class="media" ng-repeat="appt in apptList">
            <div class="media-left">
                <a href="#">
                    <img my-holder="holder.js/80x80/auto/sky" class="media-object" alt="Patient">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{appt.apptWF.confirmedTS | date:'MMM d, y h:mm:ss a'}}</h4>
                <span class="text-muted">{{appt.patientDetailsWF.patientName}}, {{appt.patientDetailsWF.patientSex}}, {{appt.patientDetailsWF.patientAge}}</span>
                <div>
                    <a href ng-click="gotoApptDetails(appt)">See Patient Details</a>
                    <span> or  </span>
                    <a href ng-click="gotoCRoom(appt)">Go to Consultation Room</a>
                </div>
                <!-- <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-success">Details</button>
                    <button type="button" class="btn btn-primary" ng-click="gotoCRoom(appt)">Room</button>
                </div> -->
            </div>
        </div>
<!--         <div class="row placeholders">
            <div class="placeholder" ng-repeat="appt in apptList">
                    <img my-holder="holder.js/100x100/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>{{appt.apptWF.confirmedTS | date:'MMM d, y h:mm:ss a'}}</h4>
                    <span class="text-muted">{{appt.patientDetailsWF.patientName}}, {{appt.patientDetailsWF.patientSex}}, {{appt.patientDetailsWF.patientAge}}</span>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <button type="button" class="btn btn-success">Details</button>
                        <button type="button" class="btn btn-primary" ng-click="gotoCRoom(appt)">Room</button>
                    </div>
                </div>
            
        </div> -->
    </div>
</div>