<div class="container" ng-controller="ApptCtrl">
	<h1> <span class="text-muted">New Consultation with </span> <a ui-sref="doc_profile({docId:{{providerId}}})">{{provider.name}}</a> </h1>
	<!-- <div>
		<div ng-repeat="timingSnippet in provider.timing">
            <p>{{timingSnippet}}</p>
        </div>
    </div> -->
	<hr class="featurette-divider">
	<!-- <div class="row">
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mM4+p/hLQAHAwKyxcxsuwAAAABJRU5ErkJggg==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Appointment</span>
			
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Payment</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Patient Form</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Meeting</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Prescription</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Feedback</span>
		</div>
	</div> -->
	<!-- <div class="row">
		<ul class="nav nav-pills">
		  <li role="presentation" class="active"><a ui-sref="consult_wf.appt({ cref: wf._id })"><span class="glyphicon glyphicon-tag" aria-hidden="true">Appt  </span> </a> </li>
		  <li role="presentation"><a href="#" disabled="disabled"><span class="glyphicon glyphicon-eur" aria-hidden="true">Payment  </span> </a></li>
		  <li role="presentation"><a href="#" class="disabled"><span class="glyphicon glyphicon-tasks" aria-hidden="true">Questions</span></a></li>
		  <li role="presentation"><a href="#" class="disabled"><span class="glyphicon glyphicon-headphones" aria-hidden="true">Meeting</span></a></li>
		  <li role="presentation"><a href="#" class="disabled"><span class="glyphicon glyphicon-th-list" aria-hidden="true">Prescription</span></a></li>
		  <li role="presentation"><a href="#" class="disabled"><span class="glyphicon glyphicon-comment" aria-hidden="true">Feedback</span></a></li>
		</ul>
	</div> -->
	<hr class="featurette-divider">
	<div class="row">
		<div class="col-lg-3">
			<h5>Reference No</h5>
			<span class="text-primary">{{wf.reference}}</span>
		</div>
		<div class="col-lg-6">
	        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;"> -->
	        <h3>Appointment</h3>
	        <p/>
	        <p>Select your preferred appointment time-window, and provide short information</p>
	        <div>
	            <form name="newapptform">
	                <div class="form-inline">
	                	<div class="form-group">
						    <label for="appt-mode">Choose your consultation mode</label>
						    <div class="radio">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="wf.consult_mode_pref" value="video">
							    By Video <small><small>( Remember, you need to be online at the time of appointment)</small></small>
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="wf.consult_mode_pref" value="phone">
							    By Phone <small><small>( Remember, doctor will call you)</small></small>
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios3" ng-model="wf.consult_mode_pref" value="anything" checked>
							    Try by video first, if not then by Phone
							  </label>
							</div>

						</div>
	                </div>
	                <div class="form-group"></div>
	                <div class="form-inline">
		                <div class="form-group required">
		                    <label class="control-label"><i class="fa fa-calendar"></i>When</label> <small> ( See Doctor's <span class="text-primary" data-animation="am-flip-x" bs-tooltip title="{{prettyPrintedDocTiming}}">Timing</span> )</small><br>
		                    <!-- <div class="form-group">
		                      <input type="text" size="10" class="form-control" ng-model="wf.requestedTS" data-autoclose="1" 
		                      data-min-date="today" data-max-date="{{untilDate}}" placeholder="Date" bs-datepicker>
		                    </div>
		                    <div class="form-group">
		                      <input type="text" size="8" class="form-control" ng-model="wf.requestedTS" data-autoclose="1" 
		                      placeholder="Time" bs-timepicker>
		                    </div> -->
		                    <div class="form-group">
			                  <input type="text" class="form-control" ng-model="wf.requestedD" data-autoclose="1" 
			                  data-min-date="today" data-max-date="{{untilDate}}" placeholder="Date" bs-datepicker required>
			                </div>
			                <div class="form-group">
			                  <input type="text" class="form-control" ng-model="wf.requestedT" data-autoclose="1" bs-timepicker required>
			                </div>
		                </div>
	            	</div>
	            	<div class="form-group"></div>
	            	<div class="form-inline">
		            	<div class="form-group required">
		                    <label for="exampleInputName" class="control-label">Name</label>
		                    <input type="text" class="form-control" id="exampleInputName" ng-model="wf.patientName" placeholder="Enter Your Name" required>
		                </div>
		                <div class="form-group required">
		                    <label for="exampleContactPhone" class="control-label">Phone</label>
		                    <input type="text" class="form-control" id="exampleInputName" ng-model="wf.patientPhone" placeholder="Your reachable contact number" required>
		                </div>
	            	</div>
	            	<div class="form-group"></div>
	            	<div class="form-inline">
		                <div class="form-group required">
		                	<label for="exampleInputAge" class="control-label">Age</label>
	                            <input type="text" class="form-control" id="exampleInputAge" ng-model="wf.age" placeholder="Your Age" required>
	                    </div>
		                <div class="form-group required">
		                	<label for="exampleInputSex" class="control-label">Sex</label>
                            <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="wf.sex" value="M" checked />
                            Male
                            </label>
                            <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="wf.sex" value="F"/>
                            Female
                            </label>
		                </div>
	                </div>
	                <div class="form-group"></div>
	                
	                <div class="form-group required">
	                    <label for="problemDesc" class="control-label">Reason for your appointment ( in short )</label>
	                    <textarea class="form-control" id="problemDesc" rows="4" ng-model="wf.problemSummary" required></textarea>
	                </div>

	                <!-- <button type="submit" class="btn btn-primary" ng-click="gotoPayment()">Pay Rs. 200</button> -->
	                <a class="btn btn-primary" ng-click="requestAppt()">Next Step</a>
	            </form>
	            <!-- Modal -->
	            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	              <div class="modal-dialog modal-lg">
	                <div class="modal-content">
	                  <div class="modal-body">
	                    <h3>Click on the available time slot</h3>
	                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
	                  </div>
	                  <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                    <button type="button" class="btn btn-primary">Save changes</button>
	                  </div>
	                </div>
	              </div>
	            </div>

	        </div>
	    </div>
	    <div class="col-lg-3"/>

    </div>
</div>