<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<meta charset="UTF-8">
	<title>Home  || RemedySquare </title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- master stylesheet -->
	<link rel="stylesheet" href="css/style.css">
	<!-- responsive stylesheet -->
	<link rel="stylesheet" href="css/responsive.css">
    <link rel="icon" href="../../favicon.ico">
    <title>Remedy Square</title> 
  
</head>

<body>
    	<header class="header">
		<div class="container">
			<div class="logo pull-left">
				<a href="index.html">
					<img src="img/resources/" alt="Awesome Image"/>
				</a>
			</div>
		</div>
	</header> <!-- /.header -->


	<nav class="mainmenu-area stricky">
		<div class="container">
			<div class="navigation pull-left">
				<div class="nav-header">
					<ul>
						<li class="dropdown">
							<a href="#">Home</a>
						</li>
						<li>
							<a href="/user/index.html#/user/help">FAQ</a>
						</li>
						<li><a href="">Contact Us</a></li>
						<li><a href="/user/index.html#/user/login">Login</a></li>
						<li><a href="/user/index.html#/user/registration">Register</a></li>
					</ul>
				</div>
				<div class="nav-footer">
					<button><i class="fa fa-bars"></i></button>
				</div>
			</div>
			<div class="search-box pull-right">
				<form action="#">
					<input type="text" placeholder="Search...">
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</div>
	</nav> <!-- /.mainmenu-area -->




	<section class="inner-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12 sec-title colored text-center">
					<h2>Appointment</h2>
					<ul class="breadcumb">
						<li><a href="index.html">Home</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><span>Appointment</span></li>
					</ul>
					<span class="decor"><span class="inner"></span></span>
				</div>
			</div>
		</div>
	</section>

	
	<section class="sec-padding contact-content appointment-content">
		<div class="container">
			<img src="img/resources/appointment.jpg" alt="Awesome Image"/>
			<div class="title-box">
				<span>It’s easy and fast</span>
				<h3>Make an Appoinment</h3>
				<p> <span class="text-muted">New Consultation with </span> <a ui-sref="doc_profile({docId:{{providerId}}})">{{provider.name}}</a> </p>				
			</div>
			<form action="" id="appointment-page-form" class="contact-form row">
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-6">
							<input type="text" id="exampleInputName" ng-model="wf.patientName" name="name" placeholder="Full Name" required>
							<input type="text" placeholder="Select Appointment Date" name="date" class="date-picker">
							<input type="text" id="exampleInputPhone" name="e362Phone" data-phone ng-model="wf.patientPhone" placeholder="+919885566778" required ng-patternxx="/^\+\d{11}\d{1}?$/">
							<span ng-show="newapptform.e362Phone.$error.phoneField">Please enter phone number in this format: +919885566778</span>
						</div>
						<div class="col-md-6">
							<input type="text" name="email" placeholder="Email">
							<div class="select-input-wrapper">
								<select class="select-input" name="category">
									<option value="" selected="selected">Consultation Mode</option>
									<option value="General Motors">Video Consultation</option>
								   <option value="General Motors">Audio Consultation</option>
								</select>
							</div>
							<div class="clearfix half-wrapper">
								<div class="col-md-6 p0 half">
									<div class="select-input-wrapper">
										<select class="select-input" name="gender">
											<option value="" selected="selected">Select Gender</option>
											<option value="General Motors">Male</option>
											<option value="General Motors">Female</option>
										</select>
									</div>										
								</div>
								<div class="col-md-6 p0 half">
									<input type="text" placeholder="Age" id="exampleInputAge" ng-model="wf.age" placeholder="Your Age" required>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-5">
					<textarea name="message" placeholder="Message" cols="30" rows="10"></textarea>
				</div>
				<div class="col-md-12"><button type="submit">Book Now</button></div>
			</form>
		</div>
	</section>
	


	<section class="footer-call-to-action">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h3>Remedysquare.com</h3>
					<p>Get appointment now and gain points</p>
				</div>
			</div>
		</div>
	</section>
	
	<footer class="footer sec-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-widget about-widget">
						<a href="#">
							<img src="img/resources/" alt="Awesome Image"/>
						</a>
						<p>Little explanation  Little explanation  Little explanation  Little explanation  </p>
						<ul class="contact">
							<li><i class="fa fa-map-marker"></i> <span>60 . Airport Road, Bengaluru</span></li>
							<li><i class="fa fa-phone"></i> <span>(000) 000 000 0000</span></li>
							<li><i class="fa fa-envelope-o"></i> <span>example@gmail.com</span></li>
						</ul>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer-widget contact-widget">
						<h3 class="title">Contact Form</h3>
						<form action="" class="contact-form" id="footer-cf">
							<input type="text" name="name"  placeholder="Full Name">
							<input type="text" name="email" placeholder="Email Address" >
							<textarea name="message" placeholder="Your Message"></textarea>
							<button type="submit">Send</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<section class="footer-bottom">
		<div class="container text-center">
			<p> © Copyright 2016 Remedy square <a href="/policy/privacy.html">Privacy</a> | <a href="/policy/utc.html">Terms</a> | <a href="/pgm/provider_landing/index.html">Are You Doctor?</a></p>
		</div>
	</section>


	<!-- main jQuery -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- bx slider -->
	<script src="js/jquery.bxslider.min.js"></script>
	<!-- appear js -->
	<script src="js/jquery.appear.js"></script>
	<!-- count to -->
	<script src="js/jquery.countTo.js"></script>
	<!-- owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- validate -->
	<script src="js/validate.js"></script>
	<!-- mixit up -->
	<script src="js/jquery.mixitup.min.js"></script>
	<!-- fancybox -->
	<script src="js/jquery.fancybox.pack.js"></script>
	<!-- easing -->
	<script src="js/jquery.easing.min.js"></script>
	<
	<!-- gmap main script -->
	<script src="js/gmap.js"></script>

	<!-- isotope script -->
	<script src="js/isotope.pkgd.min.js"></script>
	<!-- jQuery ui js -->
	<script src="js/jquery-ui-1.11.4/jquery-ui.js"></script>
	
	<!-- revolution scripts -->

	<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>


	
	<script src="js/custom.js"></script>



</body>

</html>