<div class="container">
	<h1> <span class="text-muted">Consultation with </span> {{wf.providerName}} </h1>
	<hr class="featurette-divider">
	<div class="row">
		<ul class="nav nav-pills">
		  <li role="presentation" ui-sref-active="active"><a ui-sref="consult_wf.appt({ cref: wf._id })"><i class="fa fa-calendar-check-o fa-2x"></i>Appt</a></li>
		  <li role="presentation" ui-sref-active="active"><a ui-sref="consult_wf.payment({ cref: wf._id })"><i class="fa fa-inr fa-2x"></i>Payment</a></li>
		  <li role="presentation" ui-sref-active="active"><a ui-sref="consult_wf.questions({ cref: wf._id })" ng-show="(wf | cwfStateTransitionAllowed : 'cwfGoToAdditionalQuestionsByUser') "><i class="fa fa-question-circle fa-2x"></i>Questions</a><a ng-show="!(wf | cwfStateTransitionAllowed : 'cwfGoToAdditionalQuestionsByUser') ">Questions</a></li>
		  <li role="presentation" ui-sref-active="active"><a ng-click="gotoCRoom(wf)" ng-show="(wf | cwfStateTransitionAllowed : 'cwfGoToMeetingRoomByUser' ) "><i class="fa fa-television fa-2x"></i>Meeting</a><a ng-show="!(wf | cwfStateTransitionAllowed : 'cwfGoToMeetingRoomByUser' ) ">Meeting</a></li>
		  <li role="presentation" ui-sref-active="active"><a ui-sref="consult_wf.prescription({ cref: wf._id })" ng-show="(wf | cwfStateTransitionAllowed : 'cwfGoToPrescriptionByUser' ) "><i class="fa fa-file-text fa-2x"></i>Prescription</a><a ng-show="!(wf | cwfStateTransitionAllowed : 'cwfGoToPrescriptionByUser' ) ">Prescription</a></li>
		  <li role="presentation" ui-sref-active="active"><a href="#" ng-show="(wf | cwfStateTransitionAllowed : 'cwfFeedbackByUser' ) "><i class="fa fa-comment fa-2x"></i>Feedback</a></li>
		</ul>
	</div>
	<!-- <div class="row">
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mM4+p/hLQAHAwKyxcxsuwAAAABJRU5ErkJggg==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Appointment</span>
			
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Payment</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Patient Form</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Meeting</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Prescription</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Feedback</span>
		</div>
	</div> -->
	<hr class="featurette-divider">
	<div class="row">
		<div class="col-lg-3">
			<h5>Reference No</h5>
			<span class="text-primary">{{wf._id}}</span>
			<div class="alert alert-warning" role="alert" ng-show="statusMsg">
		        <button type="button" class="close" ng-click="closeStatusDisplay()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        {{statusMsg}}
    		</div>
		</div>
		<div class="col-lg-6">
			<div ui-view></div>
	    </div>
	    <div class="col-lg-3"/>

    </div>
</div>