<div class="container">
	<h1> <span class="text-muted">Consultation with </span> {{wf.providerName}} </h1>
	<hr class="featurette-divider">
	<div class="row">
		<ul class="nav nav-pills">
		  <li role="presentation" ui-sref-active="active"><a ui-sref="consult_wf.appt({ cref: wf._id })"><span class="glyphicon glyphicon-tag" aria-hidden="true">Appt</span></a></li>
		  <li role="presentation" ui-sref-active="active"><a ui-sref="consult_wf.payment({ cref: wf._id })"><span class="glyphicon glyphicon-eur" aria-hidden="true">Payment</span></a></li>
		  <li role="presentation" ui-sref-active="active"><a ui-sref="consult_wf.questions({ cref: wf._id })"><span class="glyphicon glyphicon-tasks" aria-hidden="true">Questions</span></a></li>
		  <li role="presentation" ui-sref-active="active"><a href="#"><span class="glyphicon glyphicon-headphones" aria-hidden="true">Meeting</span></a></li>
		  <li role="presentation" ui-sref-active="active"><a ui-sref="consult_wf.prescription({ cref: wf._id })"><span class="glyphicon glyphicon-th-list" aria-hidden="true">Prescription</span></a></li>
		  <li role="presentation" ui-sref-active="active"><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true">Feedback</span></a></li>
		</ul>
	</div>
	<!-- <div class="row">
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mM4+p/hLQAHAwKyxcxsuwAAAABJRU5ErkJggg==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Appointment</span>
			
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Payment</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Patient Form</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Meeting</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Prescription</span>
		</div>
		<div class="col-sm-2">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 30px; height: 30px;">
			<span>Feedback</span>
		</div>
	</div> -->
	<hr class="featurette-divider">
	<div class="row">
		<div class="col-lg-3">
			<h5>Reference No</h5>
			<a href="#">{{wf._id}}</a>
		</div>
		<div class="col-lg-6">
			<div ui-view></div>
	    </div>
	    <div class="col-lg-3"/>

    </div>
</div>