<div>
	<div class="row">
		
		<div>
	     
	        <h3>Payment</h3>
	        <!-- <span>New Appointment Flow: {{newApptFlow}}</span> -->
	        <div ng-if="newApptFlow">
	        	<div class="alert alert-info" role="alert">Your appointment has been sent to Doctor for confirmation. We advise you to pay now, but you can come back to this page later to complete your payment</div>
	        </div>
	        <div ng-if="!newApptFlow">
	        	<strong>Status - {{wf.paymentWF.paymentStatus | cwfFilter:'payment'}} on {{wf.paymentWF.paymentConfirmTS[0] | date:'MMM d, y h:mm:ss a'}} </strong>
	        </div>
	        <div class="table-responsive">
		        <table class="table table-bordered table-condensed table-hover">
		        	<thead>
		                <tr>
		                    <th>Description</th>
		                    <th class="text-right">Fees ({{wf.paymentWF.expCurr}})</th>
		                    
		                </tr>
		            </thead>
		            <tbody>
		                
			        	<tr class="active">
			        		<td>Consultation Fees</td>
			        		<td class="text-right">{{consultationFee}}</td>
			        	</tr>
			        	<!-- <tr>
			        		<td> Discount Code by Doctor</td>
			        		<td class="text-right">- 60.00</td>
			        	</tr> -->
			        	<tr ng-if="wf.paymentWF.paymentCoupon">
			        		<td> Coupon Code</td>
			        		<td class="text-right">- {{wf.paymentWF.paymentCoupon.couponValue}}</td>
			        	</tr>
			        	<tr class="success">
			        		<td class="text-capitalize">Total</td>
			        		<td class="text-right">{{totalFee}}</td>
			        	</tr>
		            </tbody>
		        	
				</table>
			</div>
	        
	        <div ng-if="wf.paymentWF.paymentStatus != 3">
	            <form>
	                <div class="form-group">
	                    <div class="input-group">
					      <input type="text" class="form-control" placeholder="Enter Coupon Code, if any" ng-model="couponCode">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button" ng-click="applyCouponCode(wf, couponCode)">Apply!</button>
					      </span>
					    </div>
	                </div>
	                <div class="form-group">
	                    <label for="consultationCost">Online Consultation Cost</label>
	                    <span class="label label-default">{{wf.paymentWF.expCurr}} {{totalFee}}</span>
	                </div>
	            </form>

	            <form action='https://sandbox.2checkout.com/checkout/purchase' method='post'>
	              <!-- <input type='hidden' name='sid' value='901274976' /> -->
	              <input type='hidden' name='sid' value='901307406' />
	              <input type='hidden' name='mode' value='2CO' />
	              <input type='hidden' name='li_0_type' value='Remote Consultation' />
	              <input type='hidden' name='li_0_product_id' value='{{wf._id}}' />
	              <input type='hidden' name='li_0_name' value='{{wf.providerName}}/Consultation/{{wf.patientDetailsWF.patientName}}' />
	              <input type='hidden' name='li_0_price' value='{{totalFee}}' />
	              
	              <input type='hidden' name='card_holder_name' value='{{userSubscriber.name}}' />
	              <input type='hidden' name='email' value='{{userSubscriber.email[0]}}' />
	              <input type='hidden' name='phone' value='{{wf.patientDetailsWF.patientPhone}}' />
	              <input type='hidden' name='country' value='INDIA' />
	              <input type='hidden' name='currency_code' value='{{wf.paymentWF.expCurr}}' />
	              <input type='hidden' name='merchant_order_id' value='{{wf._id}}' />
	              
	              <input type='hidden' name='x_receipt_link_url' value='http://SANDBOX:8080/user/index.html#/user/cwf/{{wf._id}}/payment/return' />
	              <!-- <input name='submit' type='submit' value='Checkout' /> -->
	              <button type="submit" class="btn btn-primary">Pay {{wf.paymentWF.expCurr}} {{totalFee}}</button>
	            </form>

	            <form>
	                  
	                <div class="form-group">
	                	<p></p>
	                    <a href="#/dashboard">I will pay later. Take me to my dashboard.</a>
	                    
	                </div>
	                
	            </form>

	        </div>
	    </div>

    </div>
</div>