<div>
  <div class="list-group">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">1. How does ERemedy select doctors?</h4>
      <p class="list-group-item-text">By stringent process...</p>
    </a>
    
  </div>
  <div class="list-group">
    
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">2. What is the typical response time from doctors?</h4>
      <p class="list-group-item-text">Advise - 24 hours</p>
    </a>
    
  </div>
  <div class="list-group">
    
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">3. How much it will cost?</h4>
      <p class="list-group-item-text">It depends on the doctor and the service. Generally between INR 200 and INR 500</p>
    </a>

  </div>
</div>