<div class="masthead">
    <nav>
        <ul class="nav nav-justified">
            <li class="active"><a ui-sref="userLanding">Home</a>
            </li>
            <li><a ui-sref="appt">Appointments</a>
            </li>
            <li><a ui-sref="doc">Doctors</a>
            </li>
            <li><a ui-sref="reminder">Reminders</a>
            </li>
            <li><a ui-sref="account">Account</a>
            </li>
            <li><a ui-sref="userHelp">Help</a>
            </li>
        </ul>
    </nav>
</div>