
<div class="row">
	<div class="col-lg-3"/>
	<div class="col-lg-6" ng-controller="UserMainCtrl">
		<h2> Please register here: </h2>
		<form ng-submit="register(givenName,givenEmail,givenPassword)">
		  <div class="form-group">
		    <label for="inputName">Name</label>
		    <input type="text" class="form-control" id="inputName" ng-model="givenName" placeholder="Enter Name">
		  </div>
		  <div class="form-group">
		    <label for="inputEmail">Email address</label>
		    <input type="email" class="form-control" id="inputEmail" ng-model="givenEmail" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		    <label for="inputPassword">Password</label>
		    <input type="password" class="form-control" id="inputPassword" ng-model="givenPassword" placeholder="Password">
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Register</button>
		  <p>
		  <span> Please <label><a ui-sref="login">login</a></label> if you have already registered before </span>
		  <span>{{givenName}}

		</form>
	</div>
	<div class="col-lg-3"/>
</div>