
<div class="row">
	<div class="col-lg-3"/>
	<div class="col-lg-6" ng-controller="UserMainCtrl">
		<h2> Create your account</h2>
		<div class="panel panel-primary">
			<div class="panel-heading">
			    <h3 class="panel-title">Signup</h3>
			</div>
			<div class="panel-body">
		    	<form ng-submit="register(givenName,givenEmail,givenPassword, tp_agree)">
				  <div class="form-group">
				    <label for="inputName">Name</label>
				    <input type="text" class="form-control" id="inputName" ng-model="givenName" placeholder="Enter Name">
				  </div>
				  <div class="form-group">
				    <label for="inputEmail">Email address</label>
				    <input type="email" class="form-control" id="inputEmail" ng-model="givenEmail" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				    <label for="inputPassword">Password</label>
				    <input type="password" class="form-control" id="inputPassword" ng-model="givenPassword" placeholder="Password">
				  </div>
			  		
			  		<div class="form-group">
					    <div class="checkbox">
						  <label>
						    <input type="checkbox" ng-model="tp_agree">
						    I agree to the <a target="_blank" href="/policy/utc.html">RemedySquare Terms</a> and <a target="_blank" href="/policy/privacy.html">Privacy</a>.
						  </label>
						</div>
					</div>
			  		<button type="submit" class="btn btn-primary">Register</button>
			  		<div ng-show="subscriptionStatus">
			  			<p> <span class="text-warning">{{subscriptionStatus}}</span></p>
			  		</div>
			  	</form>
		  	</div>
		  	<div class="panel-footer">
		  		<span> Please <label><a ui-sref="login">login</a></label> if you have already registered before </span> <span>{{givenName}}</span>
			</div>
		</div>
		  
	</div>
	<div class="col-lg-3"/>
</div>